<h1 class = "users_show_title"><%= "#{@user}さんの商品" %></h1>
<ul class = "new_posts">
  <% @product.each do |product| %>
    <li class = main_content>
      <%= link_to product_path(product.id) do %>
        <%= image_tag product.images[0], class: "thumbnail" %><br>
      <% end %>
    </li>
  <% end %>
</ul>
<div class='pagination'><%= paginate(@product) %></div>