<h1 class = "users_show_title"><%= "#{@user}さんのイラスト" %></h1>
<ul class = "new_posts">
  <% @illust.each do |illust| %>
    <li class = main_content>
      <%= link_to illust_path(illust.id) do %>
        <%= image_tag illust.images[0], class: "thumbnail" %><br>
      <% end %>
    </li>
  <% end %>
</ul>
<div class='pagination'><%= paginate(@illust) %></div>