/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


.field_with_errors {
  display: contents;
}


/* header */

.header {
  width: 100%;
  background-color: #cfebff;
  margin-bottom: 20px;
  padding: 15px;
}

.inner {
  width: 100%;
}

.nav {
  margin: 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nickname {
  font-size: 20px;
  margin-right: 100px;
}

.nav_btn {
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  font-size: 16px;
  color: #bd49be;;
  text-decoration: none;
  user-select: none;
  border: 1px #bd49be solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav_btn:hover {
  color: #fff;
  background: #e587fa;
}

.nav_lists {
  top: 105%;
  left: -15%;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  border-color: #bd49be;
  background-color: #cfebff;
}

.nav_logout {
  display: inline-block;
  padding: 4px 16px;
  border: 1px #bd49be solid;
  font-size: 16px;
  color: #bd49be;
  text-decoration: none;
  user-select: none;
}
.nav_logout:hover {
  opacity: 0.5;
}

.hidden {
  display: none;
}




/* devise */
.confirmation-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirmation-form {
  text-align: center;
}

.confirmation-form input {
  margin-bottom: 10px;
  text-align: center;
}

.confirmation-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-name {
  display: flex;
  justify-content: space-between;
}

.confirmation-last-name input {
  margin-right: 10px;
}

.confirmation-ruby {
  display: flex;
  justify-content: space-between;
}

.confirmation-last-name-ruby input {
  margin-right: 10px;
}

.confirmation-submit {
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #e3f4ff;
  border-radius: 20%;
  border-color: #87CEFA;
}

.confirmation-submit:hover{
  opacity: 0.7;
}


/* Index introduce */

.intro_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro_text1{
  font-size: 30px;
  opacity: 0;
}
.intro_text2{
  font-size: 30px;
  opacity: 0;
}
.intro_text3{
  font-size: 30px;
  opacity: 0;
}
.intro_text4{
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  opacity: 0;
}

.intro_logo {
  opacity: 0;
  margin-top: 30px;
}

.intro_illust {
  opacity: 0;
  margin-top: 100px;
}


/* Index */

.main_wrapper{
  height: 100%;
  width: 100%;
}

/* Index main_top */

.main_top{
  height: 30%;
}

.advertisement{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search_form{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.select_btn{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.illust_btn{
  display: inline-block;
  width: 350px;
  height: 30px;
  border-bottom: 30px solid #b2e1ff ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.novel_btn{
  display: inline-block;
  width: 350px;
  height: 30px;
  border-bottom: 30px solid #aeffbb ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.item_btn{
  display: inline-block;
  width: 350px;
  height: 30px;
  border-bottom: 30px solid #ffbafa ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

/* Index main_content */
.main_center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_contents{
  width: 1050px;
  flex-direction:column;
  align-items: center;
  background-color: #eff9ff;
}

.new_title{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: cursive;
  margin: 10px 0px;
}

.new_posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px; 
}


.ranking_title{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.ranking_posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px; 
}

.main_content{
  padding: 5px;
}

.main_novel {
  position: relative;
  padding: 5px;

}

.novel_image{
  padding: 5px;
}

.new_novel_title {
  position: absolute;
  top: 20%;
  left: 50%;
  color: #022b2e;
  word-break: break-all;
  transform: translate(-50%,-50%);
}

.thumbnail{
  height: 200px;
  width: 200px;
}



/* new */
.indispensable{
  color: crimson;
}

.form_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.message_upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.form_main form{
  margin: auto;
}

.previews{
  display: flex;
  justify-content: center;
}

.preview_image{
  height: 100px;
  width: 100px;
}

.click_upload {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.messages{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* show */
.posted_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor_menu {
  margin: 20px 0px;
}

.view_all{
  display: flex;
  justify-content: center;
}

.view_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other_image {
  margin-top: 10px;
}

.main_image {
  height: 400px;
  width: 400px;
}

.product_image {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.view_product{
  display: flex;
}

.edit_btn{
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  font-size: 16px;
  color: #bd49be;;
  text-decoration: none;
  user-select: none;
  border: 1px #bd49be solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.edit_btn:hover{
  color: #fff;
  background: #87CEFA;
}

.destroy_btn{
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  font-size: 16px;
  color: #bd49be;;
  text-decoration: none;
  user-select: none;
  border: 1px #bd49be solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.destroy_btn:hover{
  color: #fff;
  background: #87CEFA;
}

.products_buy_btn {
  border: solid;
  border-radius: 20%;
  border-color: #87CEFA;
  background-color: #e3f4ff;
}

.comment-wrapper {
  width: 50%;
}

.comment-wrapper form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.comment-view{
  text-align: center;
}

.comment-nickname{
  color: #fa8787;
}

.comments {
  position: relative;
  background-color: #ebf7ff;
}

.comment-content{
  padding: 5px;
}

.comment-text{
  word-break: break-all;
}

/* search */

.keyword {
  text-align: center;
}

.pagination{
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.pagination span {
  margin: 3px;
  padding: 3px;
  background: #d3e9ff;
  border-radius: 50%;
}

.pagination span:hover {        
  border-radius: 50%;
  background: #aeffbb
}

/* order  index */

.order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_image {
  margin-top: 10px;
}

.order_thumbnail {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

.order_price {
  margin: 10px 0;
}

.form_text_wrap {
  margin-top: 15px;
}

.order_buy_btn {
  display: flex;
  justify-content: center;
}

.buy_btn {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: #e3f4ff;
  border-radius: 20%;
  border-color: #87CEFA;
}

.buy_btn:hover{
  opacity: 0.7;
}