/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* header */

.header {
  background-color: #cfefff;
  margin-bottom: 20px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.registration {
  margin: auto;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.nickname {
  font-size: 20px;
  margin-right: 100px;
}

.menu_btn{
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  font-size: 16px;
  color: #bd49be;;
  text-decoration: none;
  user-select: none;
  border: 1px #bd49be solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.menu_btn:hover{
  color: #fff;
  background: #87CEFA;
}

.menu_lists {
  top: 105%;
  left: -15%;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  background-color: #aa9efc;
}

.menu_logout{
  display: inline-block;
  padding: 4px 16px;
  border: 1px #bd49be solid;
  font-size: 16px;
  color: #bd49be;
  text-decoration: none;
  user-select: none;
}
.menu_logout:hover{
  opacity: 0.5;
}

.hidden{
  display: none;
}

/* main */

.main_wrapper{
  height: 100%;
  width: 100%;
}

/* main_top */
.main_top{
  height: 30%;
}

.search_form{
  display: flex;
  justify-content: center;
}

.select_btn{
  display: flex;
  justify-content: center;
}

.illust_btn{
  display: inline-block;
  width: 350px;
  height: 20px;
  border-bottom: 20px solid #b2e1ff ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.novel_btn{
  display: inline-block;
  width: 350px;
  height: 20px;
  border-bottom: 20px solid #aeffbb ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

.item_btn{
  display: inline-block;
  width: 350px;
  height: 20px;
  border-bottom: 20px solid #ffbafa ;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

/* main_content */
.main_center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_contents{
  height: 1000px;
  width: 1050px;
  flex-direction:column;
  align-items: center;
  background-color: #eff9ff;
}

.new_posts{
  display: flex;
  justify-content: center;
}

.ranking{
  display: flex;
  justify-content: center;
}