.form-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.form {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #cfefff;
}

